<!DOCTYPE html>
<html>
<head>
	<title><%= make %></title>
</head>
<body>
	<h1>submitted info!</h1>
	<p>make: <%= make %></p>
	<p>model: <%= model %></p>
	<p>description: <%= description %></p>
	
</body>
</html>